<!-- templates/error.html -->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/e3d464afcc.js" crossorigin="anonymous"></script>
    <script src="/static/script.js" defer></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <div class="nav-links">
                    <li><a href="/" class="home-link" data-tooltip="Discover All Artists">GROUPIE-TRACKER</a></li>
                </div>
                <div class="search-container">
                    <form action="/search/" autocomplete="off" method="get" class="search-bar">
                        <div class="search-wrapper">
                            <div class="input-wrapper">
                                <i class="fa-sharp fa-solid fa-magnifying-glass search-icon"></i>
                                <input class="search-input" id="search-input" name="q" placeholder="Type here..."
                                    required />
                            </div>
                            <div id="search-suggestions" class="search-suggestions"></div>
                        </div>
                    </form>
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <div class="error-details">
            <h1>{{.Status}} - {{.Message}}</h1>
            <p>Sorry, something went wrong. Please try again later.</p>
            <a href="/">home page</a>
        </div>

    </main>

    <footer>
        <p>&copy; 2024 Groupie Trackers</p>
    </footer>
</body>

</html>